*{
    color:white;
}
h1{
    font-size: 2vw;
}
input{
    color: black;
}
.search{
    color: black;
}
.searchdiv{
    text-align: center;
    position: relative;
    bottom:8vw;
}
.searchdiv>form>input{
    height: 4vh;
    width:30vw;
    border-radius: 1vw;
    text-align: center;
    font-size: 1.5vw;
}
.searchdiv>button{
    background-color: white;
    border:3px solid azure;
    border-radius: 2vw;
    height: 2vw;
    font-size: 1.3vw;
   padding-bottom: 1.3vw;
}
.loading{
    text-align: center;
}
.cat-animation {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.all{
    text-align: center;
}
.avtar{
    height: 10vw;
    width: 10vw;
}
.all>p{
    font-size: 2vw;
}
.user{
    font-size: 4vw;
    display: block;
    padding: 2vw;
 }
.see{
    height: 3vw;
    width:10vw;
    border-radius: 1vw;
    text-align: center;
    font-size: 1vw;
    color: black;
    font-weight: bold;
    border: none
}
.repo{
    font-size: 2vw;
}
.notfound{
    font-size: 2vw;
    text-align: center;
}

